    <footer class="footer py-4 bg-white">
        <div class="jumbotron">
        <div class="container">
            <div>
                <div style="color:white"><h5>BLOG VIDEOS 2020 &copy;</h5></div>
                <br>
                <div style="color:white"><h5>EQUIPO SEVEN</h5></div>
           </div>
            </div>
        </div>
    </footer>