
<section class="page-section bg-light" >
    <div class="about">
  <div class="container">
        <div class="text-center">
            <br>
            <br>
            <font face="Comic Sans MS,arial,verdana" color="black"><h2>Programadores</h2></font>
             <br>
            <br>
                    </div> 
                    </div>
                    </div>
        <div class="row">
            <div class="col-lg-4">
                <div>
                    <div class=" container"><img src="/img/diegom.jpeg" alt="Logo Fazt" class="card-img-top height-15 width-15 m-2 rounded-circle w-50"></i> </div>
                    <h4>MONTES MORENO DIEGO</h4>
                       <br></br>
                    <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                    <a  class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/diegoangel.montesmoreno"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="https://www.youtube.com/watch?v=2j3x0VYnehg"><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="https://twitter.com/explore"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div >
                    <div class=" container"><img src="/img/yo.jpeg" alt="Logo Fazt" class="card-img-top height-15 width-15 m-2 rounded-circle w-50"></i> </div>
                    <h4>SANCHEZ MORENO KARLA</h4>
                      <br></br>
                    <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a><a
                        class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/karla.sanchez.921677"><i class="fab fa-facebook-f"></i></a><a
                        class="btn btn-dark btn-social mx-2" href="https://www.youtube.com/watch?v=5NV6Rdv1a3I"><i class="fab fa-youtube"></i></a>
                         <a class="btn btn-dark btn-social mx-2" href="https://twitter.com/explore"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div >
                    <div class=" container"><img src="/img/lizbethV.jpeg" alt="Logo Fazt" class="card-img-top height-15 width-15 m-2 rounded-circle w-50"></i> </div>
                    <h4> VERDINES RIVERA LIZBETH</h4>
                    <br></br>
                    <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a><a
                        class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/lizbeth.verdines98"><i class="fab fa-facebook-f"></i></a><a
                        class="btn btn-dark btn-social mx-2" href="https://www.youtube.com/watch?v=kstg8zZ1ceE&list=RDMMnbcXvlEa7Wk&index=14"><i class="fab fa-youtube"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="https://twitter.com/explore"><i class="fab fa-twitter"></i></a>
                 
                </div>
            </div>
        </div>
           </div>
</section>

{{>footer}}