
<header class="masthead">
    <div class="container">
        <font face="Comic Sans MS,arial,verdana" color="white"><h1>Welcome {{user.fullname}}</h1></font>
        <font face="Comic Sans MS,arial,verdana" color="white"><h1>{{user.username}}</h1</font> 
         <br>
         <font face="Comic Sans MS,arial,verdana" color="white"><h1>¿Que deseas hacer?</h1></font>
         <br>
         <a href="/videos/add" class="btn btn-primary"> <h1>+ Add Video</h1></a>
         <a href="/videos" class="btn btn-primary"><h1>My videos</h1></a>
         
</header>

